{
	"allTenants":[
		{
			"name": "tenantName1",
			"tenantID": "tenantID"
		},
		{
			"name": "tenantName2",
			"tenantID": "tenantID"
		}
	],
    "globalVars":[
		{
            "signinsT1": "-7",
            "signinsT1u": "day",  
            "signinsT2": "30",
            "signinsT2u": "minute",  

            "registryT1": "-120",
            "registryT1u": "minute",
            "registryT2": "10",
            "registryT2u": "minute",

            "networkT1": "-240",
            "networkT1u": "minute",
            "networkT2": "120",
            "networkT2u": "minute",

            "processesT1": "-30",
            "processesT1u": "minute",
            "processesT2": "30",
            "processesT2u": "minute",

            "officeT1": "-120",
            "officeT1u": "minute",
            "officeT2": "220",
            "officeT2u": "minute",

            "emailsT1": "-480",
            "emailsT1u": "minute",
            "emailsT2": "30",
            "emailsT2u": "minute",

            "registryOn":true,
            "networkOn":true, 
            "processesOn":true, 
            "vulnerabilitiesOn":true,
            "signinsOn":false,
            "officeOn":false,
            "riskySignInsOn":true,
            "emailsOn":false,

            "apiGeoLocation": "api.securitycenter.microsoft.com",
            "numberOfEvents": "30",

            "debugOn":false,
            "irmTimeout": "240", 
            "notMatchThese": "microsoft\\.com$|outlook\\.com$|live\\.com$|microsoftonline\\.com$|skype\\.com$|office365\\.com$|edgesuite.\\.net$|$>digicert\\.com$|windows\\.net$|doubleclick\\.net$|windows\\.com$|office\\.com$|windowsupdate\\.com$"  
        }
    ],
    "connectionData":[
		{
            "useKeyVault": true,
            "keyvaulttenant": "tenantID",
            "keyvaultsubscriptionId": "subscriptionID of Keyvault Tenant",
            "clientID": "registered app clientid",
            "keyVaultName": "keyvault name", 
            "keyvaultsecretname": "secret name"
        }
    ]
}